.autocomplete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  flex-direction: column;
}


.autocomplete-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
}


.pills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}


.search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}


.search-item {
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
}


.hovering {
  background-color: #ddd;
}
